#titlebar
{
  width: 100%;
}

#titlebar img
{
  pointer-events: none;
  width: 100%
}

#navbar
{
  margin-top: -8%;
  margin-bottom: 8%;
}

#navbar span
{
  float: left;
  width: 20%;
  padding: 5px;
  background-color: green;
}

#navbar ul
{
  float: right;
  width: 82%;
  margin: 0 12% 0 0;
  list-style: none;
  background-color: yellow;
}

a:link, a:visited
{
  display: block;
  width: 150px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #00FFFF;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

table
{
  border-collapse:collapse;
}

table, th, td 
{
  border:1px solid;
}

.tokenTable th:nth-child(2), .tokenTable td:nth-child(2)
{
  display:none;
}
