ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

li
{
  float:right;
}

.navbar a:link,.navbar a:visited
{
  display:block;
  width:120px;
  font-weight:bold;
  color:#FFFFFF;
  background-color: #00FFFF;
  text-align:center;
  padding:4px;
  text-decoration:none;
  text-transform:uppercase;
}
.navbar a:hover,.navbar a:active
{
  background-color:#0000FF;
}


table
{
  border-collapse:collapse;
}

table, th, td 
{
  border:1px solid;
}

.tokenTable th:nth-child(2), .tokenTable td:nth-child(2)
{
  display:none;
}
