#titlebar img
{
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%
}

#navbar
{
  margin-top:130px;
}

#navbar span
{
  float: left;
  width: 30%;
  background-color: green;
}

#navbar #navLinks
{
  float: right;
  width: 60%;
  margin-right: 10%;
  background-color: yellow;
}

a:link, a:visited
{
  display: block;
  width: 150px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #00FFFF;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

table
{
  border-collapse:collapse;
}

table, th, td 
{
  border:1px solid;
}

.tokenTable th:nth-child(2), .tokenTable td:nth-child(2)
{
  display:none;
}
